<form #loginForm="ngForm" (ngSubmit)="onLogin()">
    <h2 [ngStyle]="{color:'#00000'}">{{title | uppercase}}</h2>
    <div class="form-group">
        <input type="text" class="form-control" #username="ngModel" ngModel required name="username" placeholder="Enter username or email">
        <span *ngIf="(username.invalid && username.touched)">Enter name</span>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" #password="ngModel" ngModel required name="password" minlength="8" maxlength="16"
            placeholder="Enter password">
        <span *ngIf="(password.invalid && password.touched)">Enter password</span>
    </div>
    <button [disabled]="loginForm.invalid" class="btn btn-primary" type="submit">SIGN IN</button>
    <span>{{statusGreetings}}</span>
    <div [ngStyle]="{margin:'0px'}">
        <p>Don't have an account? <a routerLink="/sign-up">SignUp</a></p>
    </div>
</form>