div {
  margin: 10% 5%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}
form {
  overflow: hidden;
  padding: 10px;
  margin: 20px;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
}

button {
  margin: 5% auto;
  width: 200px;
}
