*{
    justify-content: center;
    align-items: center;
    margin: auto;
}

h2{
    text-align: center;
}

form{
    width: 400px;
    height: 600px;
}

div{
    margin: 20px;
}
button{
    margin-left: 40%;
}

p{
    text-align: center;
}